# Python
__pycache__/
*.py[cod]
*.so

# Environment
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# Tests
tests/
.pytest_cache/

# Development files
*.log
.pre-commit-config.yaml